@import "tailwindcss";

@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "corporate";
  default: true;
  --color-primary: '#66BB6A';
  --color-secondary: teal;
}

.active {
  text-decoration: underline;
  color: blue;
}

html {
  scroll-behavior: smooth;
}
